.page {
  background-color: rgb(233, 233, 233);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;

  @media (max-width: 600px) {
    padding: 1rem;
  }
}

.intro-card {
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  padding: 2rem 2.5rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;

  @media (max-width: 600px) {
    padding: 1.5rem 1.5rem;
    border-radius: 15px;
  }
}

.tagline {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1rem;

  span {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    white-space: nowrap; // Icon + Text bleiben zusammen
  }

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  width: 100%;

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
.loading-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.15);
  z-index: 10000; /* über allem */
  backdrop-filter: blur(3px);
}
